@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);

body,
input,
textarea,
.mbr-company .list-group-text {
    font-family: 'Raleway', sans-serif;
}

.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
    font-family: 'Raleway', sans-serif;
}

.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
    font-family: 'PT Sans', sans-serif;
}

.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
    font-family: 'PT Sans', sans-serif;
}

.btn {
    border-radius: 1.6em;
}

.mbr-subscribe .btn {
    border-radius: 1.6em !important;
}

.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

.mbr-author-name {
    font-family: 'PT Sans', sans-serif;
}

.mbr-author-desc {
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

.mbr-plan-title {
    font-family: 'PT Sans', sans-serif;
}

.mbr-plan-subtitle,
.mbr-plan-price-desc {
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

.bg-primary {
    background-color: #000000 !important;
}

.bg-success {
    background-color: #90a878 !important;
}

.bg-info {
    background-color: #7e9b9f !important;
}

.bg-warning {
    background-color: #000000 !important;
}

.bg-danger {
    background-color: #000000 !important;
}

.btn-primary {
    background-color: #000000;
    border-color: #000000;
    color: #ffffff;
}

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary.focus,
    .btn-primary:active,
    .btn-primary.active {
        color: #ffffff;
        background-color: #000000;
        border-color: #000000;
    }

    .btn-primary.disabled,
    .btn-primary:disabled {
        color: #ffffff !important;
        background-color: #000000 !important;
        border-color: #000000 !important;
    }

.btn-secondary {
    background-color: #28324e;
    border-color: #28324e;
    color: #ffffff;
}

    .btn-secondary:hover,
    .btn-secondary:focus,
    .btn-secondary.focus,
    .btn-secondary:active,
    .btn-secondary.active {
        color: #ffffff;
        background-color: #0e121b;
        border-color: #0e121b;
    }

    .btn-secondary.disabled,
    .btn-secondary:disabled {
        color: #ffffff !important;
        background-color: #0e121b !important;
        border-color: #0e121b !important;
    }

.btn-info {
    background-color: #7e9b9f;
    border-color: #7e9b9f;
    color: #ffffff;
}

    .btn-info:hover,
    .btn-info:focus,
    .btn-info.focus,
    .btn-info:active,
    .btn-info.active {
        color: #ffffff;
        background-color: #597478;
        border-color: #597478;
    }

    .btn-info.disabled,
    .btn-info:disabled {
        color: #ffffff !important;
        background-color: #597478 !important;
        border-color: #597478 !important;
    }

.btn-success {
    background-color: #90a878;
    border-color: #90a878;
    color: #ffffff;
}

    .btn-success:hover,
    .btn-success:focus,
    .btn-success.focus,
    .btn-success:active,
    .btn-success.active {
        color: #ffffff;
        background-color: #6a8153;
        border-color: #6a8153;
    }

    .btn-success.disabled,
    .btn-success:disabled {
        color: #ffffff !important;
        background-color: #6a8153 !important;
        border-color: #6a8153 !important;
    }

.btn-warning {
    background-color: #000000;
    border-color: #000000;
    color: #ffffff;
}

    .btn-warning:hover,
    .btn-warning:focus,
    .btn-warning.focus,
    .btn-warning:active,
    .btn-warning.active {
        color: #ffffff;
        background-color: #000000;
        border-color: #000000;
    }

    .btn-warning.disabled,
    .btn-warning:disabled {
        color: #ffffff !important;
        background-color: #000000 !important;
        border-color: #000000 !important;
    }

.btn-danger {
    background-color: #000000;
    border-color: #000000;
    color: #ffffff;
}

    .btn-danger:hover,
    .btn-danger:focus,
    .btn-danger.focus,
    .btn-danger:active,
    .btn-danger.active {
        color: #ffffff;
        background-color: #000000;
        border-color: #000000;
    }

    .btn-danger.disabled,
    .btn-danger:disabled {
        color: #ffffff !important;
        background-color: #000000 !important;
        border-color: #000000 !important;
    }

.btn-primary-outline {
    background: none;
    border-color: #000000;
    color: #000000;
}

    .btn-primary-outline:hover,
    .btn-primary-outline:focus,
    .btn-primary-outline.focus,
    .btn-primary-outline:active,
    .btn-primary-outline.active {
        color: #ffffff;
        background-color: #000000;
        border-color: #000000;
    }

    .btn-primary-outline.disabled,
    .btn-primary-outline:disabled {
        color: #ffffff !important;
        background-color: #000000 !important;
        border-color: #000000 !important;
    }

.btn-secondary-outline {
    background: none;
    border-color: #05070b;
    color: #05070b;
}

    .btn-secondary-outline:hover,
    .btn-secondary-outline:focus,
    .btn-secondary-outline.focus,
    .btn-secondary-outline:active,
    .btn-secondary-outline.active {
        color: #ffffff;
        background-color: #28324e;
        border-color: #28324e;
    }

    .btn-secondary-outline.disabled,
    .btn-secondary-outline:disabled {
        color: #ffffff !important;
        background-color: #28324e !important;
        border-color: #28324e !important;
    }

.btn-info-outline {
    background: none;
    border-color: #4e6669;
    color: #4e6669;
}

    .btn-info-outline:hover,
    .btn-info-outline:focus,
    .btn-info-outline.focus,
    .btn-info-outline:active,
    .btn-info-outline.active {
        color: #ffffff;
        background-color: #7e9b9f;
        border-color: #7e9b9f;
    }

    .btn-info-outline.disabled,
    .btn-info-outline:disabled {
        color: #ffffff !important;
        background-color: #7e9b9f !important;
        border-color: #7e9b9f !important;
    }

.btn-success-outline {
    background: none;
    border-color: #5d7149;
    color: #5d7149;
}

    .btn-success-outline:hover,
    .btn-success-outline:focus,
    .btn-success-outline.focus,
    .btn-success-outline:active,
    .btn-success-outline.active {
        color: #ffffff;
        background-color: #90a878;
        border-color: #90a878;
    }

    .btn-success-outline.disabled,
    .btn-success-outline:disabled {
        color: #ffffff !important;
        background-color: #90a878 !important;
        border-color: #90a878 !important;
    }

.btn-warning-outline {
    background: none;
    border-color: #000000;
    color: #000000;
}

    .btn-warning-outline:hover,
    .btn-warning-outline:focus,
    .btn-warning-outline.focus,
    .btn-warning-outline:active,
    .btn-warning-outline.active {
        color: #ffffff;
        background-color: #000000;
        border-color: #000000;
    }

    .btn-warning-outline.disabled,
    .btn-warning-outline:disabled {
        color: #ffffff !important;
        background-color: #000000 !important;
        border-color: #000000 !important;
    }

.btn-danger-outline {
    background: none;
    border-color: #000000;
    color: #000000;
}

    .btn-danger-outline:hover,
    .btn-danger-outline:focus,
    .btn-danger-outline.focus,
    .btn-danger-outline:active,
    .btn-danger-outline.active {
        color: #ffffff;
        background-color: #000000;
        border-color: #000000;
    }

    .btn-danger-outline.disabled,
    .btn-danger-outline:disabled {
        color: #ffffff !important;
        background-color: #000000 !important;
        border-color: #000000 !important;
    }

.text-primary {
    color: #000000 !important;
}

.text-success {
    color: #90a878 !important;
}

.text-info {
    color: #7e9b9f !important;
}

.text-warning {
    color: #000000 !important;
}

.text-danger {
    color: #000000 !important;
}

.alert-success {
    background-color: #90a878;
}

.alert-info {
    background-color: #7e9b9f;
}

.alert-warning {
    background-color: #000000;
}

.alert-danger {
    background-color: #000000;
}

.btn-social {
    border-color: #000000;
}

    .btn-social:hover {
        background: #000000;
    }

.mbr-company .list-group-item.active .list-group-text {
    color: #000000;
}

.mbr-footer p a,
.mbr-footer ul a {
    color: #000000;
}

.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
    background: #000000;
}

.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
    color: #597478;
}

.lead a,
.lead a:hover {
    color: #000000;
}

.lead blockquote {
    border-color: #000000;
}

.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
    color: #b3b3b3;
}

.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
    color: #d0dac6;
}

.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
    color: #c7d4d5;
}

.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
    color: #b3b3b3;
}

.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
    color: #b3b3b3;
}

.mbr-small-footer a,
.mbr-gallery-filter li:hover {
    color: #000000;
}

#ext_menu-3v .hide-buttons .nav-btn {
    display: none !important;
}

#ext_menu-3v .navbar-caption {
    color: #ffffff;
}

#ext_menu-3v .navbar-toggler {
    color: #cccccc;
}

#ext_menu-3v .close-icon::before,
#ext_menu-3v .close-icon::after {
    background-color: #cccccc;
}

#ext_menu-3v .link,
#ext_menu-3v .dropdown-item {
    color: #cccccc;
    font-family: 'Lato', sans-serif;
}

#ext_menu-3v .link {
    font-size: 1.05rem;
}

#ext_menu-3v .dropdown-item,
#ext_menu-3v .nav-dropdown-sm .link {
    font-size: 1.137rem;
}

    #ext_menu-3v .link:hover,
    #ext_menu-3v .dropdown-item:hover,
    #ext_menu-3v .link:focus,
    #ext_menu-3v .dropdown-item:focus {
        color: #000000;
    }

#ext_menu-3v .link[aria-expanded="true"],
#ext_menu-3v .dropdown-menu {
    background: #000000;
}

#ext_menu-3v .nav-dropdown-sm .link:focus,
#ext_menu-3v .nav-dropdown-sm .link:hover,
#ext_menu-3v .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-3v .nav-dropdown-sm .dropdown-item:hover {
    background: #000000 !important;
}

#ext_menu-3v .navbar,
#ext_menu-3v .nav-dropdown-sm,
#ext_menu-3v .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-3v .nav-dropdown-sm .dropdown-menu {
    background: #000000;
}

#ext_menu-3v .bg-color.transparent .link {
    color: #cccccc;
    transition: none;
}

#ext_menu-3v .bg-color.transparent.opened .link {
    transition: color 0.2s ease-in-out;
}

    #ext_menu-3v .bg-color.transparent.opened .link:hover,
    #ext_menu-3v .bg-color.transparent.opened .link:focus {
        color: #000000;
    }

#ext_menu-3v .link[aria-expanded="true"],
#ext_menu-3v .dropdown-item[aria-expanded="true"] {
    color: #000000 !important;
}

#header5-7 .mbr-section-title {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 72px;
}

#header5-7 .mbr-section-lead {
    color: #ffffff;
    font-size: 18px;
}

    #header5-7 .mbr-section-lead SPAN {
        font-size: 20px;
        color: #ffffff;
    }

#header5-7 .mbr-section-title SPAN {
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #efefef;
    font-size: 72px;
}

#header5-1o .mbr-section-title {
    color: #faaf40;
}

#header5-1o .mbr-section-lead {
    color: #9c9a9a;
    font-size: 18px;
}

#contacts3-5 P {
    color: #cccccc;
    font-size: 16px;
}

#contacts3-5 .list-group-text {
    color: #c1c1c1;
    font-size: 16px;
}

#contacts3-5 H4 {
    color: #000000;
}

#contacts3-5 STRONG {
    font-family: 'Lato', sans-serif;
    color: #000000;
    font-size: 18px;
}

#ext_menu-4g .hide-buttons .nav-btn {
    display: none !important;
}

#ext_menu-4g .navbar-caption {
    color: #ffffff;
}

#ext_menu-4g .navbar-toggler {
    color: #000000;
}

#ext_menu-4g .close-icon::before,
#ext_menu-4g .close-icon::after {
    background-color: #000000;
}

#ext_menu-4g .link,
#ext_menu-4g .dropdown-item {
    color: #000000;
    font-family: 'Lato', sans-serif;
}

#ext_menu-4g .link {
    font-size: 1.05rem;
}

#ext_menu-4g .dropdown-item,
#ext_menu-4g .nav-dropdown-sm .link {
    font-size: 1.137rem;
}

    #ext_menu-4g .link:hover,
    #ext_menu-4g .dropdown-item:hover,
    #ext_menu-4g .link:focus,
    #ext_menu-4g .dropdown-item:focus {
        color: #000000;
    }

#ext_menu-4g .link[aria-expanded="true"],
#ext_menu-4g .dropdown-menu {
    background: #deaa05;
}

#ext_menu-4g .nav-dropdown-sm .link:focus,
#ext_menu-4g .nav-dropdown-sm .link:hover,
#ext_menu-4g .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-4g .nav-dropdown-sm .dropdown-item:hover {
    background: #fac10d !important;
}

#ext_menu-4g .navbar,
#ext_menu-4g .nav-dropdown-sm,
#ext_menu-4g .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-4g .nav-dropdown-sm .dropdown-menu {
    background: #fac51c;
}

#ext_menu-4g .bg-color.transparent .link {
    color: #000000;
    transition: none;
}

#ext_menu-4g .bg-color.transparent.opened .link {
    transition: color 0.2s ease-in-out;
}

    #ext_menu-4g .bg-color.transparent.opened .link:hover,
    #ext_menu-4g .bg-color.transparent.opened .link:focus {
        color: #000000;
    }

#ext_menu-4g .link[aria-expanded="true"],
#ext_menu-4g .dropdown-item[aria-expanded="true"] {
    color: #000000 !important;
}

#header5-4h .mbr-section-title {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 72px;
}

#header5-4h .mbr-section-lead {
    color: #ffffff;
    font-size: 18px;
}

    #header5-4h .mbr-section-lead SPAN {
        font-size: 18px;
        color: #c1c1c1;
    }

#header5-4h .mbr-section-title SPAN {
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #fac51c;
}

#header5-4k .mbr-section-title {
    color: #fac51c;
}

#header5-4k .mbr-section-lead {
    color: #9c9a9a;
    font-size: 18px;
}

#header3-54 .mbr-section-title,
#header3-54 .mbr-section-subtitle {
    text-align: center;
}

#header3-54 SMALL {
    color: #000000;
}

#contacts3-4l P {
    color: #cccccc;
    font-size: 16px;
}

#contacts3-4l .list-group-text {
    color: #c1c1c1;
    font-size: 16px;
}

#contacts3-4l H4 {
    color: #000000;
}

#contacts3-4l STRONG {
    font-family: 'Lato', sans-serif;
    color: #000000;
    font-size: 18px;
}